body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: green;
    border-bottom: 3px solid red;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

.pizzaImage {
    margin-top: 20px;
    text-align: center;
}

.pizzaImage img {
    max-width: 200px;
    animation: rotation 60s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
